.main_heading{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 90px;
  font-weight: 500;
  font-size: 28px;
}
.product_details{
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 100px auto;
  
}
.commentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: tomato;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 0px auto;
  position: fixed;
  z-index: 11;
}

.commentBox textarea {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  outline: none;

}
.commentBox .close{
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;
  cursor: pointer;

}
.commentBox button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.commentBox form{
  display: flex;
  flex-direction: column;
  gap: 60px;

}
.commentBox form .form-group{
  display: flex;
  width: 300px;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.commentBox button:hover {
background-color: white;
color: tomato;
transition: 0.4s;
}

.rating-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.rating-container .react-ratings {
  margin-right: 10px;
}


@media (max-width:780px) {
  .product_details{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
  } 
}

.product_info{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.product_info .id{
  color: gray;
}
.product_info h2:nth-child(1){
  font-weight: 500;
}

.number_of_products input[type="number"]{
  width: 15%;
  text-align: center;
  height: 33px;
  font-size: 18px;
  border-left:0px ;
  border-right:0px ;
  border: 0.5px solid rgba(0, 0, 0, 0.455);

}
.number_of_products
 button{
  width: 12%;
  height: 33px;
  outline: none;
  border: none;
  font-size: 28px;
}
.number_of_products button:nth-child(1) {
  background-color: gray;
  color:white;

}
.number_of_products span button {
  background-color: #0672f6;
  color:white;
  cursor: pointer;


}
.number_of_products {
  display: flex;
  gap: 10px;
  align-items:center;
}
.number_of_products span{
  display: flex;
}

.number_of_products .cart_add{
  background-color: rgb(246, 6, 6);
  padding: 11px 10px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
}

.review_btn{
  background-color: rgb(6, 114, 246);
  padding: 10px 0px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  width: 30%;
  text-align: center;
}

.outStock{
  color: red;
  font-size: 15px;
}
.inStock{
  color: green;
  font-size: 15px;
}

.reviews{

  display: flex;
  width: 100%;
  margin: 70px auto;
  height: 200px;
  gap: 20px;
  justify-content: center;
  align-items: center;


}

.reviews button{
  width: 60px;
  height: 60px;
  font-size: 40px;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius:50% ;
  align-self: center
  ;
}
.reviews button:hover{
background-color: rgba(10, 10, 10, 0.331);
transition: 0.8s;
}
.reviews button svg{
  color: white;
}
 .main_heading{
  text-align: center;
}