.reviewDetails{
    display: flex;
    width: 100%;
}

.reviewsContainer{
    text-align: center;
    width:60%;
    margin: 0px auto;
}
.reviewsContainer button{
    background-color: unset;
    outline: none;
    border: none;
}