.navbar{
    width: 100%;
    height: 12vh;
    padding: 20px 8px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.6s ease-in ;
    z-index: 998;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size:16px ;
    letter-spacing: 1px;
}

.navbar_brand a{
    font-size:20px ;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
}

.middle_nav{
    display: flex;
    gap: 70px;
}
.middle_nav span{
    display: flex;
    gap: 50px;
}

.right_navbar{
    display: flex;
    gap: 30px;
}

.close_icon{
    display: none;
}






/* MEDIA QURIES */

@media (max-width:786px) {
    .show_navbar{
        
        height: 100vh;
    }
    .close_navbar{
        height: 15vh;
    }
    .navbar {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .navbar_brand{
        position: absolute;
        left: 30px;
        top: 30px;
    }
    .show{
        display: flex;
        transition: 0.8s;

    }
    .not_show{
        transition: 1s;
        opacity: 0;
    }
    .middle_nav{
        flex-direction: column;
        margin-top: 20px ;

    }

    .close_icon{
        position: absolute;
        display: block;
        top: 20px;
        right: 30px;
    }
        
}
